body {
  background: #2C7499;
  margin: 0;
  padding: 0;
}
.enter {
  color: white;
  background-color: #FF4B00;
  text-decoration: none;
  padding: 20px 40px;
  font-size: 30px;
  margin-top: 8px;
  display: inline-block;
  position: relative;
}
.enter:visited {
  color: white;
}
.enter:active {
  top: 1px;
  right: 1px;
}
.lame-coach {
  position: absolute;
  margin: 50px;
  z-index: 10;
  display: inline-block;
  background-image: url('coach-before.png');
  height: 525px;
  width: 400px;
  background-size: contain;
  background-repeat: no-repeat;
}
.introduction-wrapper {
  position: absolute;
  top: 25px;
  left: 475px;
  text-align: center;
}
.introduction {
  text-align: center;
  display: block;
  color: #eee;
  font-size: 65px;
}
.the-coach {
  padding: 25px;
  text-align: center;
  display: block;
  color: white;
  font-size: 110px;
}
.floor {
  z-index: 9;
  background: #A0522D;
  height: 125px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}