.initial-page, .coach-page, .break-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.initial-page {
  background: #FAFAFF;
  text-align: center;
}
.coach-page {
  display: none;
  background: #FAFAFF;
}
.break-page {
  display: none;
  background: red;
  z-index: 100;
}

/* BEGIN general css (not document-section specific) */
p, span, div, section {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  font-family: "Helvetica Neue";
}
/* needs to also additionally modify padding and font-size */
.button {
  background-color: #FF4B00;
  text-decoration: none;
  display: inline-block;
  border: none;
  cursor: pointer;
  position: relative;
}
.button:active {
  top: 1px;
  right: 1px;
  border: none;
}

/* checkbox styling */
.checkbox {
  height: 25px;
  width: 25px;
  border: 2px red;
  border-style: solid;
  display: inline-block;
  margin-left: 2px;
  margin-top: 2px;
  cursor: pointer;
}
.checkmark {
  display: none;
  background-image: url('checkmark.png');
  width: 30px;
  height: 30px;
  margin-bottom: 0px;
  background-size: 30px;
  position: absolute;
}

/* front-page */
.front-tasks {
  padding: 20px;
  font-family: 'Reenie Beanie', cursive;
  font-size: 40px;
}
.front-list {
  text-align: center;
  overflow: scroll;
  position: absolute;
  top: 300px;
  bottom: 0;
  left: 75px;
  right: 0;
}
.front-item{
  padding: 10px;
  width: 550px;
  text-align: left;
}
.front-wrapper {
  width: 480px;
  margin-left: 15px;
  display: inline-block;
  vertical-align: top;
}
.front-name {
  font-family: 'Reenie Beanie', cursive;
  font-size: 35px;
}
.front-time-label, .front-time-number {
  font-size: 25px;
  font-family: 'Reenie Beanie', cursive;
}
.task-field {
  font-family: 'Reenie Beanie', cursive;
  font-size: 40px;
  width: 1em;
  background-color: transparent; 
  border-style: dashed; 
  border-width: 0px 0px 1px 0px; 
}
.time-field {
  text-align: center;
}
#task {
  width: 9em;
}

.clipboard {
  position: absolute;
  padding: 130px 75px 0 75px;
  padding-top: 130px;
  top: 65px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 700px;
  margin: 0 auto;
  max-width: 700px;
  z-index: 4;
  background-image: url('clipboard.png');
  background-size: 700px;
  background-repeat: no-repeat;
  background-position: center top;
}
.lame-coach-wrapper {
  position: absolute;
  left: 25%;
  top: 8px;
  z-index: 5;
}
.lame-coach {
  display: inline-block;
  background-image: url('coach-before-head.png');
  background-size: 150px;
  height: 150px;
  width: 150px;
}
.lame-coach-message {
  padding-top: 15px;
  vertical-align: 80px;
  padding-left: 10px;
  font-size: 55px;
  z-index: 5;
}
.ready-to-go {
  display: none;
  font-size: 30px;
  text-align: left;
}
.show-coach {
  font-size: 16px;
  color: white;
  padding: 8px 20px;
  vertical-align: middle;
  margin-left: 20px;
}
.add-task {
  color: #FF4B00;
  margin-top: 10px;
  display: inline-block;
  font-size: 30px;
  cursor: pointer;
}
.add-task:hover {
  text-decoration: underline;
}
.break-now {
  position: absolute;
  z-index: 75;
  color: #FF4B00;
  margin-top: 10px;
  display: inline-block;
  font-size: 30px;
  cursor: pointer;
}
.break-now:hover {
  text-decoration: underline;
}

/* begin task list */
.task-list-wrapper {
  width: 300px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 20;
  background-image: url('clipboard-small.png');
  background-size: 295px 99%;
  background-position: top right;
  background-repeat: no-repeat;
}
.task-number {
  color: white;
  font-size: 25px;
  text-align: center;
  padding: 15px 0;
  color: black;
  margin-top: 30px;
}
.task-list {
  position: absolute;
  top: 80px;
  bottom: 30px;
  left: 0;
  right: 0;
  overflow: scroll;
}
.task-item {
  padding: 15px;
  padding: 10px 30px;
}
.task-name {
  color: #2A3A48;
  width: 200px;
  margin-left: 8px;
  display: inline-block;
  vertical-align: top;
  font-size: 30px;
  font-family: 'Reenie Beanie', cursive;
  line-height: 25px;
}
.task-time {
  color: #1CAF9A;
  font-size: 14px;
  margin-top: 5px;
  text-align: center;
}

.message-list {
  overflow: scroll;
  position: absolute;
  left: 300px;
  top: 250px;
  bottom: 0;
  right: 0;
}

/* start background */
@-webkit-keyframes slide {
  from{
      background-position:0px;
  }
  to{
      background-position:1600px;
  }
}
.background {

}
.background-sky {
  background-image: url('sky.png');
  height: 200px;
  background-size: 400px;
  -webkit-animation: slide 45s linear infinite;
}
.background-grass {
  background-image: url('grass.png');
  height: 50px;
  position: relative;
  left: 0;
  z-index: 10;
}
.background-ground {
  background-image: url('ground.png');
  position: absolute;
  top: 240px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}
.front-background {

}
.front-background-sky {
  background-image: url('sky.png');
  height: 500px;
  background-size: 1000px;
  -webkit-animation: slide 45s linear infinite;
}
.front-background-grass {
  background-image: url('grass.png');
  height: 50px;
  position: relative;
  z-index: 1;
}
.front-background-ground {
  position: absolute;
  top: 540px;
  background-image: url('ground.png');
  position: absolute;
  left:0;
  right: 0;
  bottom: 0;
  z-index: 0;
}


/* start coaching area */
.the-coach-wrapper{
  position: absolute;
  left: 300px;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 25px;
}

.the-coach {
  position: absolute;
  width: 200px;
  height: 200px;
  z-index: 11;
  background-size: cover;
  background-image: url('coach-after-head.png');
}

.the-coach.talking{
  background: transparent;
  background-size: cover;
  background-image: url('coach-after-head-talking.png');
}

/* BUBBLE BOXES FOR TALKING */
/* cool coach */
.the-coach-says {
  display: none;
  position: relative;
  height: 100px;
  background: #B7F5FF;
  border: 4px solid #1CAF9A;
  padding: 20px;
  margin: 25px 25px 0 185px;
  border-radius: 5px;
}
.the-coach-says:after, .the-coach-says:before {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.the-coach-says:after {
  border-color: rgba(178, 212, 220, 0);
  border-right-color: #B7F5FF;
  border-width: 10px;
  top: 50%;
  margin-top: -10px;
}
.the-coach-says:before {
  border-color: rgba(62, 99, 114, 0);
  border-right-color: #1CAF9A;
  border-width: 16px;
  top: 50%;
  margin-top: -16px;
}
/* lame coach bubble */
.the-lame-coach-says {
  display: inline-block;
  position: relative;
  height: 75px;
  vertical-align: top;
  background: #B7F5FF;
  border: 4px solid #1CAF9A;
  padding: 12px 25px;
  width: 400px;
  border-radius: 5px;
}
.the-lame-coach-says:after, .the-lame-coach-says:before {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.the-lame-coach-says:after {
  border-color: rgba(178, 212, 220, 0);
  border-right-color: #B7F5FF;
  border-width: 10px;
  top: 50%;
  margin-top: -10px;
}
.the-lame-coach-says:before {
  border-color: rgba(62, 99, 114, 0);
  border-right-color: #1CAF9A;
  border-width: 16px;
  top: 50%;
  margin-top: -16px;
}
/* message items */
.message-item {
  position: relative;
  background: #B7F5FF;
  border: 4px solid #1CAF9A;
  padding: 20px;
  margin: 25px 50px 25px 125px;
  border-radius: 5px;
}
.message-item:after, .message-item:before {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.message-item:after {
  border-color: rgba(178, 212, 220, 0);
  border-right-color: #B7F5FF;
  border-width: 10px;
  top: 50%;
  margin-top: -10px;
}
.message-item:before {
  border-color: rgba(62, 99, 114, 0);
  border-right-color: #1CAF9A;
  border-width: 16px;
  top: 50%;
  margin-top: -16px;
}
.message-image {
  /* default, but should be overridden every time */
  height: 75px;
  width: 75px;
  background-size: 75px;
  position: absolute;
  left: -95px;
  top: -15px;
  background-image: url('person-1.png');
}
.message-image.twitter {
  height: 70px;
  width: 70px;
  background-size: 70px;
  left: -90px;
  top: -5px;
  border-radius: 20px;
}
.person-1 {
  background-image: url('person-1.png');
}
.person-2 {
  background-image: url('person-2.png');
}
.person-body-1 {
  background-image: url('person-body-1.png');
}
.person-body-2 {
  background-image: url('person-body-2.png');
}
